.chat{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    z-index: 1000;
}
.chat .fa-message{
    color: #fff;
    font-size: 24px;
}
.conversation{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 350px;
    height: 450px;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.conversation .chat-header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.01rem solid rgba(0, 0, 0, 0.1);
    padding: 0 10px;
}
.conversation .chat-header .profile{
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.conversation .chat-header .profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.conversation .chat-area{
    padding: 10px;
    overflow-y: auto;
}
.conversation .chat-area .chat-item.reciever{
    display: flex;
    align-items: end;
    gap: 10px;
}
.conversation .chat-area .chat-item div{
    max-width: 230px;
    padding: 5px;
    font-size: 14px;
}
.conversation .chat-area .chat-item img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.conversation .chat-area .chat-item.sender{
    display: flex;
    justify-content: end;
}
.conversation .chat-area .chat-item{
    margin-bottom: 10px;
}
.conversation .chat-area .chat-item.sender div{
    border-radius: 10px 10px 0 10px;
}
.conversation .chat-area .chat-item.reciever div{
    border-radius: 10px 10px 10px 0;
}
.conversation .chat-box{
    position: relative;
    height: 70px;
    border-top: 0.01rem solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.conversation .chat-box input{
    padding-right: 35px;
}
.conversation .chat-box .send{
    color:  #54A9EB;
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.conversation .chat-box .send:hover{
    scale: 1.1;
}
